@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: "Inter";
    font-weight: bold;
    src: local("Inter-Bold"),
    url(./fonts/Inter-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    src: local("Inter-SemiBold"),
    url(./fonts/Inter-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "Inter";
    font-weight: normal;
    src: local("Inter-Reagular"),
    url(./fonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Inter";
    font-weight: 300;
    src: local("Inter-Thin"),
    url(./fonts/Inter-Thin.ttf) format("truetype");
}

.layout {
    @apply flex flex-col mx-10 h-screen
}

h1 {
    font-weight: 500;
    @apply text-2xl
}

.caption {
    font-weight: 500;
}

.smallText {
    @apply text-sm
}

.card {
    @apply rounded-3xl shadow-md bg-white
}

